@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root{
  padding-top: 20px;
  padding-bottom: 50px;
  background: #000;
}

.game-menu {
  display: flex;
  justify-content: space-around;
  background: #ccc;
  max-width: 800px;
  margin: auto;
  border: 2px #eee solid;
}

.main-panel {
  display: flex;
  margin: auto;
  justify-content: center;
  column-gap: 10px;
  flex-wrap: wrap;

  .left, .right {
    display: flex;
    flex-direction: column-reverse;
  }

  .king {
    background: url('../../img/korol3.png') no-repeat left bottom;
    height: 150px;
    width: 112px;
  }

  .knight {
    background: url('../../img/voin3.png') no-repeat right bottom;
    height: 150px;
    width: 112px;
  }

  .bgg1, .bgg2 {
    background: url('../../img/bgg.png') repeat-y 10px 0px;
  }

  .bgg1 {
    height: 250px;
  }

  .bgg2 {
    max-height: 300px;
  }

  .cbottom {
    background: url('../../img/down.png') no-repeat;
    height: 25px;
  }

  .right .cbottom,
  .right .bgg2 {
    margin-left: 19px;
  }
}

button.stats-button {
  color:#ccc;
  position: absolute;
  right: 0;
}

.glass {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.3);
  z-index: 50;

  .close-button {
    color:#777;
    display: inline-flex;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 50;
  }

  form {
    margin: 30% auto;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #dcd9d4;
    width: fit-content;

    label {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      input {
        height: 24px;
        border-radius: 5px;
        font-size: 16px;
      }
    }

    .submit-button {
      width: 40px;
      align-self: flex-end;
      position: relative;
    }
  }
}

.fade-out {
  -webkit-animation-name: fade-out;
  animation-name: fade-out;
  opacity: 0;
  visibility: hidden;
}

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  opacity: 1;
  visibility: visible;
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
  
@media screen and (max-width: 770px) {
  .main-panel-9 {
    max-width: 650px;
    column-gap: 80px;
    .left {
        order: 2;
    }
    .right {
        order:3;
    }
  }
}

@media screen and (max-width: 1000px) {
  .main-panel-13 {
    max-width: 730px;
    column-gap: 80px;
    
    .left {
        order: 2;
    }
    .right {
        order:3;
    }
  }
}
@media screen and (max-width: 1200px) {
  .main-panel-17 {
    max-width: 960px;
    column-gap: 80px;
    .left {
        order: 2;
    }
    .right {
        order:3;
    }
  }
}